.log-platform .block2 {
  height: 100vh;
}

.log-platform .block2 .log-img-col {
  background-image: url("../../../public/images/log2.png");
  background-size: cover;
}

.log-platform .block2 .log-img-col img {
  height: 100% !important;
  width: 100%;
}

.log-platform .block2 .log-form-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1000px) {
  .log-platform .block2 {
    background-image: url("../../../public/images/log2.png");
    background-size: 100%  100%;
    background-color: #0f172a;
  }
  .log-platform .block2 label, .log-platform .block2 .link-tag {
    color: white !important;
  }
  .log-platform .block2 .log-form-col {
    color: white !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.admin-system-wrapper {
  background: #E5E5E5;
}

.admin-system-sidebar {
  background-color: #0F172A;
  color: white;
  padding: 25px 40px !important;
}

.admin-system-sidebar .admin-system-sidebar-content {
  position: relative;
  height: 100%;
}

.admin-system-sidebar .admin-system-sidebar-content .logo-box {
  margin-bottom: 50px;
}

.admin-system-sidebar .admin-system-sidebar-content .profile-box img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.admin-system-sidebar .admin-system-sidebar-content .dashboard-menu-box {
  max-height: 350px;
  overflow-y: scroll;
}

.admin-system-sidebar .admin-system-sidebar-content .dashboard-menu-box .dashboard-menu-list .dashboard-menu-link {
  height: 47px;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: start;
  padding: 14px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #FFFFFF;
  text-decoration: none;
  text-align: start;
}

.admin-system-sidebar .admin-system-sidebar-content .dashboard-menu-box .dashboard-menu-list .dashboard-menu-link .title-tag {
  margin-left: 10px;
}

.admin-system-sidebar .admin-system-sidebar-content .dashboard-menu-box .dashboard-menu-list .active, .admin-system-sidebar .admin-system-sidebar-content .dashboard-menu-box .dashboard-menu-list .dashboard-menu-link:hover {
  background: #4F46E5;
}

.admin-system-sidebar .admin-system-sidebar-content .my-profile {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 47px;
  background: #4F46E5;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: start;
  padding: 14px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #FFFFFF;
  text-decoration: none;
  text-align: start;
}

.admin-system-sidebar .admin-system-sidebar-content .my-profile .title-tag {
  margin-left: 10px;
}

.admin-system-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 89px;
  background: white;
}

@media (max-width: 1000px) {
  .admin-system-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 89px;
    background: #0F172A;
  }
  .admin-system-header .bell-checkbox {
    color: white !important;
  }
}

.notification-popup .card .card-body {
  max-height: 500px;
  overflow-y: scroll;
}

@media (max-width: 768px) {
  .MuiPaper-root.MuiMenu-paper.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation8.MuiPopover-paper.css-1ka5eyc-MuiPaper-root-MuiMenu-paper-MuiPopover-paper {
    width: 100% !important;
  }
  .notification-popup .card {
    width: 100% !important;
  }
}

.admin-system-content ::-webkit-scrollbar {
  display: none;
}

.admin-system-content .admin-system-content-source {
  max-height: 85vh;
  overflow-y: scroll;
}

.MuiDataGrid-columnHeaderTitle {
  font-weight: 600 !important;
}

/* ************ */
.custom-alert {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10000;
}

.custom-alert__content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  min-width: 258px;
  min-height: 131px;
  /* white */
  background: #FFFFFF;
  border-radius: 12px;
}

.custom-alert__title {
  margin-top: 0;
}

.custom-alert__button {
  background-color: #008CBA;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
}

/*  ***** */
.custome-scroller {
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}

.custome-scroller ::-webkit-scrollbar {
  width: 5px;
}

.custome-scroller ::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.custome-scroller ::-webkit-scrollbar-thumb {
  background: #52525B;
}

.custome-scroller ::-webkit-scrollbar-thumb:hover {
  background: #52525B;
}
/*# sourceMappingURL=home.css.map */